<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <style>
    body{
      background-color: rgba(41, 245, 245, 0.826);
    }
  </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="formContent">
        <form>
        <div class="mb-12">
          <label for="exampleFormControlInput1" class="form-label">Enter Name Of Product</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Product Name">
          
        </div>
         
        <div class="row g-3">
          
            <label for="exampleFormControlInput1" class="form-label">Product ID</label>
            <input type="text" class="form-control" placeholder="Product ID">
          </div>
          <div class="row g-3">
            <label for="exampleFormControlInput1" class="form-label">Enter a reason</label>
          
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter A Valid Reason"></textarea>
          
        </div>
        
        <button  class="btn btn-dark btn-lg" type="button" name="user">DELETE</button>
        </form>
        </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
