<!doctype html>
<html lang="en">
  <head>

  </head>
  <body style="background-color:rgb(177, 202, 248)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg bg-light" style="background-color:rgba(217, 255, 127, 0.76)">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <a [routerLink]="['/welcome']">WELCOME</a></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="#"> Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <a [routerLink]="['/contact']">CONTACT</a></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                SELECT
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">ADDING</a></li>
                <li><a class="dropdown-item" href="#">DELETING</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">UPDATE</a></li>
              </ul>
            </li>
           
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <h1 class="text-center" style="border: 70%" style="background-color:rgb(250, 64, 151);">WELCOME TO GROCERIES APP</h1>
    <div class="container">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:rgb(99, 23, 23)">
          Popular
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </div>
    <div class="container-xxxl " class="text-center" style="background-color:rgb(149, 246, 214) beta1" ><b>Groceries are an essential need, 
      people buy groceries every day. Due to its necessity, you can generate tremendous customers including the 
      repeating ones if you can manage to set up a reliable online platform for a grocery store. It is even 
      better when you already own a grocery store. All you need to do is build an online version of it.</b></div>
    <div class="container-xxxl" class="text-center" style="background-color:rgb(143, 250, 143);"><b>It’s far 
      too easy to do; you are walking around the shop grabbing all the items you need and suddenly a chocolate 
      cake, packet of biscuits, and some sausage rolls have somehow found their way into your trolley. 
      You didn’t want them before but now you’ve seen them you need them! Shopping online can help you tame the 
      impulse buying within you.</b></div>
      <div class="container">
        <div class="row">
          <div class="col-lg" style="background-color: yellow;-beta1">
          <h3>BAKERY</h3>
          <img src="assets/Bakers.jpg" alt="" height="67%" width="100%">
          <i>Bakery products means any bread, biscuits, pretzels, crackers, buns, rolls, macaroni, or any 
            similar pastes, pastries, cakes, doughnuts, pies, or other food products of which flour or meal is a principal ingredient, but does not include pack- aged mixes.</i><br>

            <button class="btn btn-primary" type="submit" >READ MORE</button>
          </div>
          <div class="col-lg" style="background-color: purple;-beta1">
          <h3>BEVERAGES</h3>
          <img src="assets/beverages.jpg" alt="" height="68%" width="100%">
          <i>A drink (or beverage) is a liquid intended for human consumption. In addition to their basic function of satisfying thirst, drinks play important roles in human culture. Common types of drinks include plain drinking water, milk, juice, smoothies and soft drinks.</i>
           <br>
           
           <button class="btn btn-primary" type="submit" >READ MORE</button> 
          </div>
        </div>
        <div class="row">
          <div class="col" style="background-color:rgba(100, 54, 249, 0.374)">
          <h4>Atta Rice&Dal</h4>
          <img src="assets/atta-dal-rice.jpg" alt="" height="53%" width="100%">
          <i>Authentic collection of premium quality Atta Flour, Rice & Dal Lentils. For Atta / Flour - You can find the best in the category including whole wheat shudh chakki sharbati atta, multigrain atta, healthy flour like sattu, instant mix flour and so much more.
            For Rice - You can find various variety of Rice including Basmati Rice, Brown Basmati Rice and diametic basmati rice.
             For DalLentils Our lentils selection includes all the different variety of lentils like toor dal, mung dal</i><br>
          <button class="btn btn-primary" type="submit" >READ MORE</button>
          </div>
          <div class="col" style="background-color: rgba(225, 154, 66, 0.822);">
            <h4>Fast Food&Snacks</h4>
            <img src="assets/fast&snacks.jpg" alt="" height="63%" width="100%">
            <i>From vegetarian value menu options to bite-sized breakfast foods, it is clear that snack-sized fast food is becoming a popular option among consumers. 
              This is particularily true of millennials consumers who are interested in smaller meals that fit their on-the-go lifestyle.</i><br>
            <button class="btn btn-primary" type="submit" >READ MORE</button>  
          </div>
          <div class="col" style="background-color:rgb(243, 168, 238)">
            <h4>House Hold&Cleaning</h4>
          <img src="assets/household_cleaning.jpg" alt="" height="60%" width="100%">
          <i> A great multi-surface, all-purpose cleaner is definitely one of the most essential cleaning products you can own. 
            All-purpose cleaners are effective at taking care of grease, dirt, and stains, and most don’t require much more than a spray and a wipe.</i><br>
          <button class="btn btn-primary" type="submit" >READ MORE</button> 
          </div>
        </div>
      </div>    






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
  <footer class="text-center text-lg-start bg-light text-muted">
   
    <section class="">
      <div class="container text-center text-md-start mt-5">
        
        <div class="row mt-3">
        
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>INSRUCTIONS
            </h6>
            <p>
              FIND EVERYTHING YOU NEED<br>
              USE PROPER INTERNET CONNECTION<br>
              USE PROPER LAPTOP OR MOBILE<br>
              USE PROPER DELIVERY ADDRESS<br>
              SHOP AS YOU NEED<br>
            </p>
          </div>
         
        
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>ONLINE GROCERIES APP
              </h6>
              <p>
              WE PROVIDE GOOD FOOD,GREAT PRICES,AWESOME SERVICE!!.STAY HOME STAY SAFE 
              </p>
            </div>
   
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i>SURKUTE OMKAR NAVNATH </p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              omkar1999surkute@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> 8485848449</p>
            <p><i class="fas fa-print me-3"></i> 7798062263</p>
          </div>
          
        </div>
       
      </div>
    </section>
   
    <div class="text-center p-4" style="background-color: rgb(171, 222, 249);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="">SURKUTE OMKAR NAVNATH</a>
    </div>
   
  </footer>
</html>

