<div class="name">
<div class=”Header”>
    <h3 class=”Heading”>Shopping Cart</h3>
    <h5 class=”Action”>Remove all</h5>
    </div>
<div class=”Cart-Items”>
    <div class=”image-box”>
    <img src="assets/prod5.jpg"  >
    </div>
    <div class=”about”>
    <h1 class=”title”>Apple</h1>
    <h3 class=”subtitle”>1.5kg</h3>
    <img src="assets/prod13.jpg" />
    </div>
    <div class=”counter”></div>
    <div class=”prices”></div>
    </div>
    <div class=”counter”>
        <div class=”btn”>+</div>
        <div class=”count”>2</div>
        <div class=”btn”>-</div>
        </div>
        <div class=”prices”>
            <div class=”amount”>179₹</div>
            <div class=”save”><u>Save for later</u></div>
            <div class=”remove”><u>Remove</u></div>
            </div>
            <hr> 
 <div class=”checkout”>
 <div class=”total”>
 <div>
 <div class=”Subtotal”>Sub-Total</div>
 <div class=”items”>2 items</div>
 </div>
 <div class=”total-amount”>279₹</div>
 </div>
 <button class=”button”><a [routerLink]="['/payment']">Payment</a></button>
 </div>
</div>