<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  
  <body>
    <h1 class="text-center" style="background-color:rgba(150, 9, 98, 0.621)">Welcome TO Online Groceries</h1>
      <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <input type="text" placeholder="Search..">
      </div>
      <div class="card">
    <select class="form-select" aria-label="Default select example" style="background-color:rgb(214, 207, 209)">
        <option selected>Select Bank</option>
        <option value="1">BARODA</option>
        <option value="2">AXIS</option>
        <option value="3">CANERA</option>
      </select>
      </div>
      <h4 style="background-color:rgba(49, 228, 248, 0.797)">Enter The Payment Option Menthod</h4>
      <div class="card">
        <select class="form-select" aria-label="Default select example" style="background-color:azure">
            <option selected>Enter Payment Option</option>
            <option value="1">Net Banking</option>
            <option value="2">DEBIT/CREDIT/ATM Card</option>
            <option value="3">UPI</option>
            <option value="4">Cash On Delivery</option>
          </select>
          </div>
          <div class="card" style="width: 188rem;">
            <img src="assets/digital-payment.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Credit/Debit</h5>
              <div class="row-md">
                <div class="col">
                  <h3>Enter Card Number</h3>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Enter Card Number</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="card number">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Enter Cvv</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="CVV">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Enter expiry date</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="MM/YEAR">
                  </div>
                </div>
              </div>
              <a href="#" class="btn btn-primary">Payment</a>
            </div>
          </div>
        
        
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>